/* Media queries in CSS allow web designers to apply different styles to a website based on the characteristics of the device or browser being used to view the website. This allows designers to create responsive designs that adapt to different screen sizes, orientations, resolutions, and other characteristics.

Media queries are written as conditional statements that target specific ranges of viewport sizes, such as min-width and max-width, as well as other features like resolution, orientation, and device type. When a user's device matches the conditions specified in a media query, the styles within that query are applied.

For example, a media query may be used to apply different styles to a website when it is viewed on a mobile device versus a desktop or tablet. This can include changing the layout, font sizes, colors, and other design elements to ensure that the website looks and functions correctly on different devices.

Media queries are an essential tool for creating responsive web designs that provide a consistent and user-friendly experience across a wide range of devices and screen sizes. By using media queries effectively, designers can accommodate the needs of users who may access their websites on smartphones, tablets, laptops, desktops, and other devices. */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
   .container{
    width: 100%;
    height: 100vh;
    background-color: rgb(173, 230, 186);
}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  /* body{
    background-color: lightblue;
  } */

  .container{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}
}






