body{
    height: 100vh;
    background-color: aliceblue;
}

.container{
    height: 60vh;
    border: 1px solid black;
    margin: 100px auto;
    width: 80%;
    border-radius: 8px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* flex-flow: row wrap ; */
    justify-content: space-around;
    align-items :end;
    align-content: space-around;

}

.container .box{
    /* flex-grow: 1; */
    height: 120px;
    width: 120px;
    background-color: rgb(78, 73, 66);
    border-radius: 8px;
    margin: 8px;
}

.container .box1{
    /* flex-grow: 2; */
    flex-shrink: 2;
}