
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
    width: 80%;
    margin: 0px auto;
}


.profileCard{
    width: 240px;
    height: 260px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profileCard img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;

}

.profileCard h2, .profileCard p{
    margin: 10px 0px;
}
.card{
    width: 280px;
    /* border: 1px solid grey; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
}

.card img{
    width: 100%;
    height: 170px;
    border-radius: 8px;
    object-fit: cover;
}


.card h2, .card p{
    margin: 10px 0px;
}

.card button, .profileCard button{
    width: 160px;
    padding:8px 24px;
    background-color: black;
    color: white;
    border: 0px;
        border-radius: 8px;
}

.teamContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}

@media (min-width : 320px) and (max-width : 475px) {
    .profileCard{
        flex-grow: 1;
    }
}